ion-content {
  --background: #F8F69F; /* Amarillo claro */
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-toolbar {
  --background: #BAB986; /* Beige verdoso */
  --color: black;
}

.container {
  width: 98%;
  max-width: 1600px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh; /* Reducir la altura del fondo oscuro */
}

.sidebar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* Ajustar para que no ocupe toda la pantalla */
}

.sidebar {
  width: 60%;
  text-align: center;
  padding: 20px;
  background-color: #573e2d; /* Color marrón oscuro */
  color: white;
  min-height: 300px; /* Reduce la altura del contenedor */
  max-height: 400px; /* Evita que sea demasiado largo */
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.question-container {
  display: flex;
  justify-content: center;
}

.question-card {
  width: 100%;
  text-align: center;
  background-color: #573e2d; /* Gris verdoso */
  color: white;
}
/* Contenedor de la imagen con tamaño fijo */
.image-container {
  width: 100%;
  height: 300px; /* Fija la altura del contenedor */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Evita que imágenes muy grandes lo rompan */
}


.question-image {
  width: 100%; /* Para que ocupe todo el ancho disponible del contenedor */
  max-width: 400px; /* Tamaño máximo para que la imagen no sea demasiado grande */
  min-width: 200px; /* Tamaño mínimo para mantener la consistencia en pantallas pequeñas */
  max-height: 400px; /* Altura máxima para evitar imágenes demasiado grandes */
  min-height: 175px; /* Altura mínima para mantener un tamaño uniforme */
  border-radius: 10px; /* Mantiene las esquinas redondeadas */
  object-fit: cover; /* Asegura que la imagen se ajuste correctamente sin distorsión */
  display: block;
  margin: auto; /* Centrar la imagen dentro del contenedor */
}


.answers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.answers ion-button {
  --background: #bab986; /* Gris oscuro */
  --color: white;
  border-radius: 8px;
}

.sidebar-container {
  display: flex;
  justify-content: center;
}

.sidebar {
  width: 60%;
  text-align: center;
  padding: 10px;
  background-color: #573e2d; /* Gris oscuro */
  color: white;
}

.timer-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #BAB986; /* Azul oscuro */
  color: #573E3D;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  margin: 10px auto;
}
